<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robosim">
  <!-- TODO replace naming of robot from param -->
  <xacro:include filename="$(find robosim_description)/urdf/include/common_macros.xacro" />
  <xacro:include filename="$(find robosim_description)/urdf/include/robosim.gazebo.xacro" />
  <xacro:include filename="$(find robosim_description)/urdf/include/inertial.xacro" />
  <xacro:include filename="$(find robosim_description)/urdf/include/sensors_macros.xacro" />

  <xacro:property name="robot_yaml" value="$(find robosim_description)/config/robot.yaml" />  
  <xacro:property name="robot" value="${xacro.load_yaml(robot_yaml)}"/>
  <xacro:property name="sensors_yaml" value="$(find robosim_description)/config/sensors.yaml" />  
  <xacro:property name="sensors" value="${xacro.load_yaml(sensors_yaml)}"/>
  
  <!-- Robot base_link -->
  <link name="base_link">
    <visual>
      <origin xyz="${robot['body']['pos_x']} 0 ${robot['body']['pos_z']}" rpy="0 0 0" />
      <geometry>
        <box size="${robot['body']['x']} ${robot['body']['y']} ${robot['body']['z']}"/>
      </geometry>
    </visual>
  <collision>
	  <origin xyz="${robot['body']['pos_x']} 0 ${robot['body']['pos_z']}" rpy="0 0 0" />
      <geometry>
        <box size="${robot['body']['x']} ${robot['body']['y']} ${robot['body']['z']}"/>
      </geometry>
  </collision>
  <xacro:box_inertial_with_origin  x="${robot['body']['x']}" y="${robot['body']['y']}" z="${robot['body']['z']}" mass="${robot['body']['mass_kg']}">
    <origin xyz="${robot['body']['pos_x']} 0 0" rpy="0 0 0" />
  </xacro:box_inertial_with_origin>
  </link>

  <!-- Fixed offset from the floor to the center of the wheels -->
  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${robot['wheel']['radius']}" rpy="0 0 0"/>
  </joint>

  <!-- Front wheels -->
  <xacro:wheel prefix="left" reflect="1" robot="${robot}"/>
  <xacro:wheel prefix="right" reflect="-1" robot="${robot}"/>

  <!-- Casters -->
  <xacro:caster_wheel prefix="left" reflect="1" robot="${robot}"/>
  <xacro:caster_wheel prefix="right" reflect="-1" robot="${robot}"/>

  <xacro:if value="${sensors['camera']['enable'] == True }" >
    <xacro:camera camera="${sensors['camera']}">
      <origin xyz="${sensors['camera']['x']} ${sensors['camera']['y']} ${sensors['camera']['z']}" 
              rpy="${sensors['camera']['roll']} ${sensors['camera']['pitch']} ${sensors['camera']['yaw']}" />
    </xacro:camera>
  </xacro:if>
</robot>